*{
  padding: 0;
  margin: 0;
}
a {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #3f3f3f;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: #f0c040;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  background-color: #16423C;
  cursor: pointer;
  transition: border-color 0.3s;
}
button:hover {
  border-color: #f0c040;
}
button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

label {
  font-size: 1rem;
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  box-sizing: border-box;
}